<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Nome do produto: <%= product.name %></h5>
    <p class="card-text">Descrição do produto: <%= product.description %></p>
    
    <%= link_to "Editar", edit_product_path(product) %>
    
    <%= link_to "Deletar", product_path(product), data: { turbo_method: :delete }, class: "text-danger" %>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <span class="card-price">Preço: <%= product.price %></span>
  </div>
</div>
</div>